.login-image-div{
    background-image: url(../img/pexels-ketut-subiyanto-4353618.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}