.chat-bg {
    background: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-info-wrapper {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-info span {
    font-size: 1.2rem;
}

.contact-info img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 999px;   
}

button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-buttons {
    display: flex;
    gap: 1rem;
}

.contact-buttons button i {
    font-size: 1.5rem;
    color: var(--dark-secondary-color);
}

.contact-buttons button i:hover {
    color: #9e9e9e;
}

.chat-info-container {
    box-shadow: 0 2px 2px -2px var(--dark-secondary-color);
}

.select-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.select-message span {
    background: var(--dark-secondary-color);
    padding: .5rem 1.8rem;
    border-radius: 1rem;
    font-size: 1rem;
}

@media (max-width: 700px) {
    .chat-bg{
        display: none;
    }

    .selected {
        display: flex !important;
        width: 100vw;
    }
}