.chat {
    display: flex;
    padding: 1rem 2rem;
    gap: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
}

.contact-name {
    font-size: 1rem;
    display: flex;
    align-items: flex-end;
}

.contact-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 999px;
    justify-self: start;
    display: flex;
}

.last-message {
    display: grid;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.last-message p {
    grid-column: 1;
}

.last-message-time {
    display: flex;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 2;
    flex: 1;
    text-align: flex-end;
    justify-content: flex-end;
    font-size: .8rem;
}