* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body, html {
  height: 100%;
}

.app  {
  display: flex;
}

:root {
  --primary-color: #fff;
  --main-bg-color: #fff;
  --secondary-bg-color: #343434;
  --main-color: #6b3fdb;
  --dark-main-color: #4f2fa0;
  --secondary-color: #e4e4e4;
  --dark-secondary-color: #cccccc;
  --text-color: #000000;
}