.message {
    padding: 1rem;
}

.chat-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 999px;
}

.contact-message, .user-message {
    display: flex;
    gap: .6rem;
}

.user-message {
    flex-direction: row-reverse;
}

.text-bg {
    background: var(--dark-secondary-color);
    padding: 1rem 1.2rem;
    border-radius: 0 2rem 2rem 2rem ;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-message .text-bg {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 1.2rem;
    border-radius: 2rem 0 2rem 2rem ;
}

.text-bg img {
    width: 200px;
    object-fit: cover;
    border-radius: 2rem;
}

.image-msg .text-bg{
    padding: .5rem;
}